* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup-page {
  display: grid;
  grid-template-columns: 1fr;
}

.left-col-image {
  height: 35vh;
  width: 100vw;
  overflow: hidden;
}

.left-col-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 30% center;
}

.right-col-form {
  background-color: whitesmoke;
  font-family: "Inter", "Arial", sans-serif;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-content {
  width: min(90%, 700px);
}

.top-content {
  align-self: end;
  margin-bottom: 2rem;
}

.promotion {
  color: black;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bolder;
  line-height: 1;
  width: 70%;
}

.create-account {
  color: black;
}

.signup-wrapper {
  padding: 1.25rem 0;
}

.form-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  column-gap: 2rem;
  padding: 1.875rem;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 1.25rem;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

legend {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

fieldset label {
  font-size: 0.9rem;
  padding-bottom: 0.3125rem;
  font-weight: bold;
  color: black;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="password"]::placeholder {
  color: lightgray;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  border: 1px solid black;
  border-radius: 10px;
  height: 3rem;
  background-color: whitesmoke;
  padding: 0.5em;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  border: 1.5px solid #7fff4f;
  box-shadow: 0px 0px 0px 1.5px #2d4124;
  outline: none;
}

input[type="text"]:user-invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:user-invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:user-invalid:not(:focus):not(:placeholder-shown) {
  border: 1.5px solid #ff5f6d;
  box-shadow: 0px 0px 0px 1.5px #332421;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  vertical-align: -5px;
  background-color: whitesmoke;
  border: 1px solid black;
  color: black;
}

input[type="checkbox"]::before {
  content: "✓";
  position: absolute;
  left: 0.09em;
  top: -0.09em;
  font-size: 1.3em;
  font-weight: bold;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #dddddd;
  color: gray;
}

.i-agree {
  color: black;
  padding-bottom: 1.25rem;
  font-size: 0.9rem;
}

.i-agree label {
  padding-left: 0.5em;
}

button {
  padding: 0.8em 2em;
  width: min(80%, 250px);
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Inter", "Arial", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
}

button:active {
  background-color: lightgray;
}

.log-in {
  padding-top: 1.25rem;
  color: black;
}

.i-agree a,
.log-in a {
  text-decoration: none;
  color: #7ebbed;
}

@media screen and (min-width: 900px) {
  .signup-page {
    grid-template-columns: 0.75fr 1.25fr;
  }
  .left-col-image {
    height: 100vh;
    width: 100%;
  }
  .right-col-form {
    min-height: 100vh;
  }
  .form-card {
    grid-template-columns: 1fr 1fr;
  }
}
