* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup-page {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.left-col-image {
  height: 100vh;
  overflow: hidden;
}

.left-col-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.right-col-form {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-wrapper {
  padding: 40px;
}

.form-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  column-gap: 6em;
  padding: 20px;
  background-color: lightgray;
  border: 1px solid black;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.promotion {
  padding: 0 40px;
}

.create-account {
  padding: 0 40px;
}

button {
  padding: 5px 10px;
  margin-left: 40px;
}