* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup-page {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.left-col-image {
  height: 100vh;
  overflow: hidden;
}

.left-col-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
